/*main layout for website*/
html, body {
  width: 100%;
  overflow-x: hidden;
}
nav {
  background-color: rgb(18, 42, 83);
}
.nav-link {
  color: rgb(255, 255, 255);
}
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

.cover-container {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/Designer (8).png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem; 
  
}
.alt-cover-container
{
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
  background-color: rgb(255, 255, 255);
}
.alt-pjt-cover-container {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
  background-color: rgb(18, 42, 83);

}

.about-container{
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
}
.contact-container{

  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
  background-color: rgb(18, 42, 83);
}
.skills-container {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
  background-color: rgb(18, 42, 83);
}

.career-container{

  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; 
}

.projects-container{
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; 
}


.cover-container h1 {
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  font-weight: bold;

 
}

.cover-container h2{
  font-size: 1.5rem; /* Adjust paragraph size for better readability */
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
}


.alt-cover-container h1{
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  color: rgb(0, 0, 0);
  text-align: center;
}

.alt-cover-container h2{
  font-size: 1rem; /* Adjust paragraph size for better readability */
  color: rgb(0, 0, 0);
  text-align: center;
}

.about-container h1 {
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  color: rgb(0, 0, 0);
  text-align: center;
}
.about-container p {
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  color: rgb(0, 0, 0);
}

#contact-footer {

  padding: 0.5rem;
  text-align: center;
  
}

@media (min-width: 768px) {
  .cover-container h1 {
    font-size: 3.5rem; /* Larger font size for medium screens and up */
  }

  .cover-container h2 {
    font-size: 1.5rem; /* Adjust paragraph size for medium screens */
  }
  .alt-cover-container h1 {
    font-size: 3.5rem; /* Adjust font size for smaller screens */
   
  }
  
  .alt-cover-container h2 {
    font-size: 1.5rem; /* Adjust paragraph size for better readability */
  }
  .about-container h1 {
    font-size: 3.5rem; /* Adjust paragraph size for better readability */
  }      
  .about-container p {
    font-size: 1.5rem; /* Adjust paragraph size for better readability */
  }   
}
