/*main layout for website*/
html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Helvetica;
  
}
nav {
  background-color: rgb(18, 42, 83);
  border-bottom: 1px solid rgb(70, 130, 180);
}
.nav-link, .navbar-toggler {
  color: rgb(255, 255, 255);
}
.nav-link:hover{
  color: 	rgb(0,128,128);
  text-decoration: underline solid	rgb(0,128,128) 3px;
  font-weight: bold;
}

.navbar-brand {
color: #ddd;
padding-right: 2rem;
font-weight: bold;

}
.navbar-toggler{
  position: absolute;
  left: 0.1rem;
  border-color: rgb(255, 255, 255);
  background-color: rgb(70, 130, 180);

}
.navbar-toggler-icon{
  color:rgb(156, 156, 156);
}

.navbar-brand:hover {
  color: 	rgb(0,128,128);
  
}
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

.cover-container {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: url('images/Designer (8).png');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(18, 42, 83);
 
}
.alt-cover-container
{
  height: 70%; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
  background-color: rgb(255, 255, 255);
}
.alt-pjt-cover-container {
  height: 70%; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
  background-color: rgb(18, 42, 83);
  color: rgb(255, 255, 255);

}

.about-container{
  height: 50vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
}
.contact-container{

  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; /* Ensure padding for all sections */
  background-color: rgb(18, 42, 83);
}
.skills-container {
  height: 20%; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 1rem; /* Ensure padding for all sections */
  background-color: rgb(18, 42, 83);
  white-space: nowrap;
  position: relative;
  color: rgb(255, 255, 255);
}

.career-container{

  height: 70%; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; 
  text-align: center;
}
.experience-section {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; 
  text-align: center;
}

.projects-container{
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:hidden;
  padding: 2rem; 
}


.cover-container h1 {
  font-size: 4.5rem; /* Adjust font size for smaller screens */
  color: rgb(70, 130, 180);
  text-align:center;
  /*background-color: rgba(0, 0, 0, .7); 
  background-color: rgb(70, 130, 180,.7);*/
  font-weight: bold;
  text-wrap: balance;

 
}

.cover-container h2{
  font-size: 1.5rem; /* Adjust paragraph size for better readability */
  color: rgb(255, 255, 255);
  text-align: center;
  /*background-color: rgb(70, 130, 180,.7);
  background-color: rgba(0, 0, 0, .7); */
  text-wrap: balance;
}


.alt-cover-container h1{
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  color: rgb(0, 0, 0);
  text-align: center;
}

.alt-cover-container p {
  font-size: 1.3rem; /* Adjust paragraph size for better readability */
  color: rgb(0, 0, 0);
  text-align: center;
  width: 70vw;
}

.about-container h1 {
  font-size: 2.5rem; /* Adjust font size for smaller screens */
  color: rgb(0, 0, 0);
  text-align: center;
}
.about-container p {
  font-size: 1rem; /* Adjust font size for smaller screens */
  color: rgb(0, 0, 0);
}
.col-lg-6 {
 
  padding: 40px;
  
  border-radius: 20px;
  
}

.col h2
{
  font-size: 2rem;
  text-align: center;
}
.col p
{
  font-size: 1rem;
  text-align: center;
}

#contact-footer {

  padding: 0.3rem;
  text-align: center;
  background-color: rgb(18, 42, 83);
  border-top: 1px solid rgb(70, 130, 180);
  color: rgb(255, 255, 255);
  
}

.skills-container2 {
  display: inline-block;
  animation: scroll 30s linear infinite;
  scroll-behavior: smooth;
  margin: 0%;
}

.skill {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 2rem;
  text-align: center;
  display: inline-block;
}

.skill img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}


.skill:hover  {
  transform: scale3d(1.5,1.5,1.5)
}

.skill span {
  font-size: 16px;
  font-weight: bold;
}

@keyframes scroll {
  0% {
      transform: translateX(30%);
  }
  100% {
      transform: translateX(-30%);
  }
}


.experience {
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; 
  flex: 1 1 45%; /* Adjust the percentage to control the width of the columns */
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}


.experience h2 {
  font-size: 1em;
  margin-bottom: 5px;
}

.experience p {
  font-size: 1em;
  color: #555;
}
.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 2.5rem; /* Space between items */
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
  text-wrap:wrap;
  height: inherit;
  }

.jobs{

  text-align: center;
  border-radius: 25px;
  border: 2px solid #9FA6B2;
  padding: 20px;


}

.jobs:hover{
  border-color:rgb(18, 42, 83);
  color:rgb(255, 255, 255);
  background-color: rgb(70, 130, 180);
}

.card-body{
 background-color: #9FA6B2;
 flex-grow: 1;

}

.card-box{
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  flex: 1 1 30%;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.card-box img {
  width: 100%;
  height: 55%; /* 50% of the card-box */
  object-fit: fill;
}
.col-md-4{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}

#featured-projects{
  height: 70%; /* 100% of the viewport height */
  width: 100%;  /* 100% of the viewport width */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow:hidden;
  padding: 2rem; 
  text-align: center;
  justify-content: center;


}
.alt-pjt-cover-container p{
  text-align: center;
  display: inline-block;
}
.social-icons a{
  display: inline-block; /* Ensure the anchor tag only takes up the space of the image */
  text-decoration: none; /* Remove underline */
  color: transparent; /* Hide the hyperlink text */
  padding: 1rem;
}
#contact-footer h5{
  font-weight: bold;
  
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .cover-container, .alt-cover-container, .alt-pjt-cover-container, .about-container, .contact-container, .skills-container, .career-container, .experience-section, .projects-container, #featured-projects{
    height: auto; /* Adjust height for smaller screens */
    padding: 1rem; /* Reduce padding */
  }

  .cover-container h1, .alt-cover-container h1, .about-container h1, .skills-container h1 {
    font-size: 2rem; /* Smaller font size for smaller screens */
  }

  .cover-container h2, .alt-cover-container p, .alt-pjt-cover-container p, .about-container p, .jobs, .skill{
    font-size: 1rem; /* Smaller font size for smaller screens */
  }

  .experience-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
}
.btn {
  padding: 5px 10px;
  font-size: 14px;
}

}
